version: 1.0
provider:
  name: openfaas
  gateway: http://localhost:8080
functions:
  jsonnet:
    lang: dockerfile
    handler: .
    image: heymp/jsonnet:latest
    labels:
      com.openfaas.scale.min": 1
      com.openfaas.scale.min": 8
    constraints:
      - openfaas-fn